# Use a 4096 bit RSA key instead of 2048
rsa-key-size = 4096

email = ${EMAIL_ADDRESS}
domains = ${TL_HOSTNAME},www.${TL_HOSTNAME},odk.${TL_HOSTNAME}

# path to the public_html / webroot folder being served by your web server.
authenticator = webroot
webroot-path = ${LETS_ENCRYPT_PATH}

# automated renewal settings
text = True
non-interactive = True
agree-tos = True

keep-until-expiring = True

# testing
test-cert = ${TEST}
debug = ${TEST}
