server {
  listen 80;
  server_name odk.${TL_HOSTNAME};

  root /var/www;

  location / {
    include /etc/nginx/conf.d/proxy.conf;
    proxy_pass http://odk:8080/;
  }

  location /.well-known/acme-challenge {
    root ${LETS_ENCRYPT_PATH};
  }
}

server {
  listen 443 ssl;
  server_name odk.${TL_HOSTNAME}

  include /etc/nginx/letsencrypt.conf;

  location / {
    include /etc/nginx/conf.d/proxy.conf;
    proxy_pass http://odk:8080/;
  }
}
