.widget-table-icon {
  width: 15px;
  height: 15px;
}

.black-bg
.pure-menu-link:active {
  color: #DDD;
  background-color: #406A9E;
}

.black-bg
.pure-menu-children {
  color: #DDD;
}

.blue-bg, .green-bg, .black-bg
.pure-menu-link:hover,
.pure-menu-link:focus {
  background: #3D4347;
}
